body, html, #app {
    margin: 0;
    font-family: Oswald, Arial, sans-serif;
    height: 100%;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/MaterialIcons.woff2') format('woff2');
}
